<?xml version="1.0" encoding="UTF-8" ?><!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd"><mapper namespace="com.yihecode.camera.ai.mapper.AlgorithmMapper"><resultMap id="resultMap" type="com.yihecode.camera.ai.entity.Algorithm"><id column="id" property="id" /><result column="name" property="name" /><result column="name_en" property="nameEn" /><result column="statics_flag" property="staticsFlag" /></resultMap><!--** * Query make Use Algorithm List * @return *--><select id="selectUsed" resultMap="resultMap">select * from tbl_biz_algorithm where id in (select t2.id from tbl_biz_camera t1, tbl_biz_algorithm t2, tbl_biz_camera_algorithm t3 where t1.id = t3.camera_id and t2.id = t3.algorithm_id and t1.state = 0)</select><!--** * Query Whether Exist nameEN * @return *--><select id="selectNameEn" resultMap="resultMap">select * from tbl_biz_algorithm where name_en = #{nameEn}</select></mapper>