<?xml version="1.0" encoding="UTF-8" ?><!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd"><mapper namespace="com.yihecode.camera.ai.mapper.GroupPushConfigMapper"><select id="getChildGroupIds" resultType="java.lang.Long">SELECT id FROM tbl_biz_camera_group WHERE parent_id = #{parentId}</select><select id="getGroupIdByCameraId" resultType="java.lang.Long">select group_id from tbl_biz_camera_group_item where camera_id = #{cameraId}</select><select id="getParentIdByGroupId" resultType="java.lang.Long">select parent_id from tbl_biz_camera_group where id = #{groupId}</select><select id="getNameByGroupId" resultType="java.lang.String">select name from tbl_biz_camera_group where id = #{groupId}</select><select id="getLevelByGroupId" resultType="java.lang.Long">select level from tbl_biz_camera_group where id = #{groupId}</select></mapper>